.tudo { 
	display: table; 
}
.left { 
	float: left; 
	margin-left:175px;
}
.right { 
	float: right; 
	margin-right:175px;
}
.clear { 
	clear: both; 
	margin-bottom: 10px;
}
.grupo{
	border-width: 1px;
	border-style: dashed;
	border-color: #c2c2c2;
}
.chart {
	min-width: 320px;
	max-width: 1000px;
	height: 250px;
	margin: 0 auto;
}
.btn-orange {
    color: #fff;
    background-color: #af840e;
    border-color: #af840e;
}
.panel-actions {
  margin-top: -20px;
  margin-bottom: 0;
  text-align: right;
}
.panel-actions a {
  color:#333;
}
.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.nav-color{
	background-color: #000000;
	border-color: #000000;
	margin-bottom: -15px;
}

.navbar {
    font-size:15px;
}

.chart-container{
	top: 35px;
}

.chart-container-sub{
	margin-top: -15px;
}

.navbar-nav {
	align: center;
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
	margin: 10px;
}

.texto{
	color:white;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 18px;
}

.botoes-graficos{
	margin: 10px;
}

.bottom{
	margin: 77px;
}

.blocos_6{
	height:530px;
}

.panel-default>.panel-heading {
    background-color: transparent;
}

.btn-green{
	background-color: blueviolet;
	color: #fff;
	border-color: #762786;
}

.btn-green:hover, .btn-green:focus {
    color: #fff;
    text-decoration: none;
}

